In [1]:
import pandas as pd
import numpy as np
import scipy.stats as stat
import matplotlib.pyplot as plt

In [62]:
# Reading Data and Creating Categorical Dictionaries

data = pd.read_csv('Data/Raw/bridge.csv', encoding='latin-1', header=0)

print(data.info())
print(data.shape)
data.head()

C:\Users\tolga\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (1,5,7,17,31,36,37,38,39,71,73,75,96,98,102,107,108,109,123,124,135) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 616096 entries, 0 to 616095
Columns: 137 entries, STATE_CODE_001 to CAT29
dtypes: float64(65), int64(23), object(49)
memory usage: 644.0+ MB
None
(616096, 137)

,STATE_CODE_001,STRUCTURE_NUMBER_008,RECORD_TYPE_005A,ROUTE_PREFIX_005B,SERVICE_LEVEL_005C,ROUTE_NUMBER_005D,DIRECTION_005E,HIGHWAY_DISTRICT_002,COUNTY_CODE_003,PLACE_CODE_004,...,DTL_TYPE_OF_IMP,SPECIAL_CODE,STEP_CODE,STATUS_WITH_10YR_RULE,SUFFICIENCY_ASTERC,SUFFICIENCY_RATING,STATUS_NO_10YR_RULE,CAT10,CAT23,CAT29
0,1,00000000000S702,1,6.0,1.0,4007,0.0,9,53.0,0.0,...,NaN,NaN,NaN,0,NaN,100.0,0,G,7,145.50
1,1,00000000000S703,1,6.0,1.0,4003,0.0,9,53.0,3004.0,...,NaN,NaN,NaN,0,NaN,100.0,0,G,7,133.28
2,1,0000000000M0022,1,8.0,1.0,0,0.0,0,113.0,27568.0,...,NaN,NaN,NaN,0,NaN,69.5,0,F,5,387.00
3,1,883039900,1,4.0,1.0,88,0.0,2,59.0,0.0,...,NaN,NaN,NaN,0,NaN,90.2,0,G,7,687.75
4,1,1014002450,1,3.0,1.0,101,0.0,2,79.0,0.0,...,NaN,NaN,NaN,2,NaN,45.9,2,F,5,15453.36

In [73]:
# After reading the coding errate sheet, some variables are removed from the data set.

print(data.columns.tolist())

df = data.drop(['PLACE_CODE_004', 'ROUTE_NUMBER_005D', 'FEATURES_DESC_006A',
                'CRITICAL_FACILITY_006B', 'FACILITY_CARRIED_007','LOCATION_009', 'LRS_INV_ROUTE_013A',
                'SUBROUTE_NO_013B','APPR_KIND_044A','APPR_TYPE_044B','WORK_PROPOSED_075A',
                'WORK_DONE_BY_075B', 'IMP_LEN_MT_076','INSPECT_FREQ_MONTHS_091','FRACTURE_092A', 'UNDWATER_LOOK_SEE_092B',
                'SPEC_INSPECT_092C','FRACTURE_LAST_DATE_093A','UNDWATER_LAST_DATE_093B','SPEC_LAST_DATE_093C',
                'BRIDGE_IMP_COST_094','ROADWAY_IMP_COST_095','TOTAL_IMP_COST_096','YEAR_OF_IMP_097','OTHER_STATE_CODE_098A',
                'OTHER_STATE_PCNT_098B','OTHR_STATE_STRUC_NO_099','STRAHNET_HIGHWAY_100','TEMP_STRUCTURE_103',
                'FEDERAL_LANDS_105','PIER_PROTECTION_111','MIN_NAV_CLR_MT_116','FED_AGENCY','DATE_LAST_UPDATE',
                'TYPE_LAST_UPDATE','DEDUCT_CODE','REMARKS','PROGRAM_CODE','PROJ_NO','PROJ_SUFFIX','NBI_TYPE_OF_IMP',
                'DTL_TYPE_OF_IMP','SPECIAL_CODE','STEP_CODE',], axis=1)
print(df.shape)

['STATE_CODE_001', 'STRUCTURE_NUMBER_008', 'RECORD_TYPE_005A', 'ROUTE_PREFIX_005B', 'SERVICE_LEVEL_005C', 'ROUTE_NUMBER_005D', 'DIRECTION_005E', 'HIGHWAY_DISTRICT_002', 'COUNTY_CODE_003', 'PLACE_CODE_004', 'FEATURES_DESC_006A', 'CRITICAL_FACILITY_006B', 'FACILITY_CARRIED_007', 'LOCATION_009', 'MIN_VERT_CLR_010', 'KILOPOINT_011', 'BASE_HWY_NETWORK_012', 'LRS_INV_ROUTE_013A', 'SUBROUTE_NO_013B', 'LAT_016', 'LONG_017', 'DETOUR_KILOS_019', 'TOLL_020', 'MAINTENANCE_021', 'OWNER_022', 'FUNCTIONAL_CLASS_026', 'YEAR_BUILT_027', 'TRAFFIC_LANES_ON_028A', 'TRAFFIC_LANES_UND_028B', 'ADT_029', 'YEAR_ADT_030', 'DESIGN_LOAD_031', 'APPR_WIDTH_MT_032', 'MEDIAN_CODE_033', 'DEGREES_SKEW_034', 'STRUCTURE_FLARED_035', 'RAILINGS_036A', 'TRANSITIONS_036B', 'APPR_RAIL_036C', 'APPR_RAIL_END_036D', 'HISTORY_037', 'NAVIGATION_038', 'NAV_VERT_CLR_MT_039', 'NAV_HORR_CLR_MT_040', 'OPEN_CLOSED_POSTED_041', 'SERVICE_ON_042A', 'SERVICE_UND_042B', 'STRUCTURE_KIND_043A', 'STRUCTURE_TYPE_043B', 'APPR_KIND_044A', 'APPR_TYPE_044B', 'MAIN_UNIT_SPANS_045', 'APPR_SPANS_046', 'HORR_CLR_MT_047', 'MAX_SPAN_LEN_MT_048', 'STRUCTURE_LEN_MT_049', 'LEFT_CURB_MT_050A', 'RIGHT_CURB_MT_050B', 'ROADWAY_WIDTH_MT_051', 'DECK_WIDTH_MT_052', 'VERT_CLR_OVER_MT_053', 'VERT_CLR_UND_REF_054A', 'VERT_CLR_UND_054B', 'LAT_UND_REF_055A', 'LAT_UND_MT_055B', 'LEFT_LAT_UND_MT_056', 'DECK_COND_058', 'SUPERSTRUCTURE_COND_059', 'SUBSTRUCTURE_COND_060', 'CHANNEL_COND_061', 'CULVERT_COND_062', 'OPR_RATING_METH_063', 'OPERATING_RATING_064', 'INV_RATING_METH_065', 'INVENTORY_RATING_066', 'STRUCTURAL_EVAL_067', 'DECK_GEOMETRY_EVAL_068', 'UNDCLRENCE_EVAL_069', 'POSTING_EVAL_070', 'WATERWAY_EVAL_071', 'APPR_ROAD_EVAL_072', 'WORK_PROPOSED_075A', 'WORK_DONE_BY_075B', 'IMP_LEN_MT_076', 'DATE_OF_INSPECT_090', 'INSPECT_FREQ_MONTHS_091', 'FRACTURE_092A', 'UNDWATER_LOOK_SEE_092B', 'SPEC_INSPECT_092C', 'FRACTURE_LAST_DATE_093A', 'UNDWATER_LAST_DATE_093B', 'SPEC_LAST_DATE_093C', 'BRIDGE_IMP_COST_094', 'ROADWAY_IMP_COST_095', 'TOTAL_IMP_COST_096', 'YEAR_OF_IMP_097', 'OTHER_STATE_CODE_098A', 'OTHER_STATE_PCNT_098B', 'OTHR_STATE_STRUC_NO_099', 'STRAHNET_HIGHWAY_100', 'PARALLEL_STRUCTURE_101', 'TRAFFIC_DIRECTION_102', 'TEMP_STRUCTURE_103', 'HIGHWAY_SYSTEM_104', 'FEDERAL_LANDS_105', 'YEAR_RECONSTRUCTED_106', 'DECK_STRUCTURE_TYPE_107', 'SURFACE_TYPE_108A', 'MEMBRANE_TYPE_108B', 'DECK_PROTECTION_108C', 'PERCENT_ADT_TRUCK_109', 'NATIONAL_NETWORK_110', 'PIER_PROTECTION_111', 'BRIDGE_LEN_IND_112', 'SCOUR_CRITICAL_113', 'FUTURE_ADT_114', 'YEAR_OF_FUTURE_ADT_115', 'MIN_NAV_CLR_MT_116', 'FED_AGENCY', 'DATE_LAST_UPDATE', 'TYPE_LAST_UPDATE', 'DEDUCT_CODE', 'REMARKS', 'PROGRAM_CODE', 'PROJ_NO', 'PROJ_SUFFIX', 'NBI_TYPE_OF_IMP', 'DTL_TYPE_OF_IMP', 'SPECIAL_CODE', 'STEP_CODE', 'STATUS_WITH_10YR_RULE', 'SUFFICIENCY_ASTERC', 'SUFFICIENCY_RATING', 'STATUS_NO_10YR_RULE', 'CAT10', 'CAT23', 'CAT29']
(616096, 93)

In [74]:
df.head()

,STATE_CODE_001,STRUCTURE_NUMBER_008,RECORD_TYPE_005A,ROUTE_PREFIX_005B,SERVICE_LEVEL_005C,DIRECTION_005E,HIGHWAY_DISTRICT_002,COUNTY_CODE_003,MIN_VERT_CLR_010,KILOPOINT_011,...,SCOUR_CRITICAL_113,FUTURE_ADT_114,YEAR_OF_FUTURE_ADT_115,STATUS_WITH_10YR_RULE,SUFFICIENCY_ASTERC,SUFFICIENCY_RATING,STATUS_NO_10YR_RULE,CAT10,CAT23,CAT29
0,1,00000000000S702,1,6.0,1.0,0.0,9,53.0,99.99,1.500,...,8,59.0,2037.0,0,NaN,100.0,0,G,7,145.50
1,1,00000000000S703,1,6.0,1.0,0.0,9,53.0,99.99,1.100,...,8,200.0,2034.0,0,NaN,100.0,0,G,7,133.28
2,1,0000000000M0022,1,8.0,1.0,0.0,0,113.0,99.99,0.000,...,8,400.0,2039.0,0,NaN,69.5,0,F,5,387.00
3,1,883039900,1,4.0,1.0,0.0,2,59.0,99.99,0.000,...,5,350.0,2032.0,0,NaN,90.2,0,G,7,687.75
4,1,1014002450,1,3.0,1.0,0.0,2,79.0,4.52,39.429,...,5,10000.0,2030.0,2,NaN,45.9,2,F,5,15453.36

In [75]:
# Missing data check

def missingchecker(df):
    """ This function checks the missing value counts in every column and reports the number
    of missing values as well as the variable name, variables with no missing values will not be reported
    if there is no missing value in the whole data frame, no missing message will be reported """
    k=0
    for i in df.columns:
        j = sum(df[i].isnull())
        if j>0 :
            print('Variable Name : ', i,'  ---  Missing Counts : ', j)
            k =+ 1
    if k == 0:
        print('Unicorns are real :) , There are no missing values in the data frame')

missingchecker(df)

Variable Name :  ROUTE_PREFIX_005B   ---  Missing Counts :  25
Variable Name :  SERVICE_LEVEL_005C   ---  Missing Counts :  25
Variable Name :  DIRECTION_005E   ---  Missing Counts :  25
Variable Name :  HIGHWAY_DISTRICT_002   ---  Missing Counts :  1
Variable Name :  COUNTY_CODE_003   ---  Missing Counts :  15
Variable Name :  BASE_HWY_NETWORK_012   ---  Missing Counts :  43534
Variable Name :  LAT_016   ---  Missing Counts :  9
Variable Name :  LONG_017   ---  Missing Counts :  13
Variable Name :  YEAR_BUILT_027   ---  Missing Counts :  25
Variable Name :  ADT_029   ---  Missing Counts :  25
Variable Name :  YEAR_ADT_030   ---  Missing Counts :  25
Variable Name :  DESIGN_LOAD_031   ---  Missing Counts :  25
Variable Name :  RAILINGS_036A   ---  Missing Counts :  25
Variable Name :  TRANSITIONS_036B   ---  Missing Counts :  25
Variable Name :  APPR_RAIL_036C   ---  Missing Counts :  25
Variable Name :  APPR_RAIL_END_036D   ---  Missing Counts :  25
Variable Name :  HISTORY_037   ---  Missing Counts :  25
Variable Name :  NAVIGATION_038   ---  Missing Counts :  25
Variable Name :  APPR_SPANS_046   ---  Missing Counts :  25
Variable Name :  OPR_RATING_METH_063   ---  Missing Counts :  29
Variable Name :  OPERATING_RATING_064   ---  Missing Counts :  3563
Variable Name :  INV_RATING_METH_065   ---  Missing Counts :  30
Variable Name :  INVENTORY_RATING_066   ---  Missing Counts :  3537
Variable Name :  POSTING_EVAL_070   ---  Missing Counts :  28
Variable Name :  WATERWAY_EVAL_071   ---  Missing Counts :  1
Variable Name :  APPR_ROAD_EVAL_072   ---  Missing Counts :  1
Variable Name :  DATE_OF_INSPECT_090   ---  Missing Counts :  8
Variable Name :  YEAR_RECONSTRUCTED_106   ---  Missing Counts :  61046
Variable Name :  PERCENT_ADT_TRUCK_109   ---  Missing Counts :  44938
Variable Name :  SCOUR_CRITICAL_113   ---  Missing Counts :  25
Variable Name :  FUTURE_ADT_114   ---  Missing Counts :  28
Variable Name :  YEAR_OF_FUTURE_ADT_115   ---  Missing Counts :  28
Variable Name :  SUFFICIENCY_ASTERC   ---  Missing Counts :  523772

In [76]:
df.set_index('STRUCTURE_NUMBER_008', inplace=True)

df.head()

,STATE_CODE_001,RECORD_TYPE_005A,ROUTE_PREFIX_005B,SERVICE_LEVEL_005C,DIRECTION_005E,HIGHWAY_DISTRICT_002,COUNTY_CODE_003,MIN_VERT_CLR_010,KILOPOINT_011,BASE_HWY_NETWORK_012,...,SCOUR_CRITICAL_113,FUTURE_ADT_114,YEAR_OF_FUTURE_ADT_115,STATUS_WITH_10YR_RULE,SUFFICIENCY_ASTERC,SUFFICIENCY_RATING,STATUS_NO_10YR_RULE,CAT10,CAT23,CAT29
STRUCTURE_NUMBER_008,,,,,,,,,,,,,,,,,,,,,
00000000000S702,1,1,6.0,1.0,0.0,9,53.0,99.99,1.500,0.0,...,8,59.0,2037.0,0,NaN,100.0,0,G,7,145.50
00000000000S703,1,1,6.0,1.0,0.0,9,53.0,99.99,1.100,0.0,...,8,200.0,2034.0,0,NaN,100.0,0,G,7,133.28
0000000000M0022,1,1,8.0,1.0,0.0,0,113.0,99.99,0.000,0.0,...,8,400.0,2039.0,0,NaN,69.5,0,F,5,387.00
883039900,1,1,4.0,1.0,0.0,2,59.0,99.99,0.000,0.0,...,5,350.0,2032.0,0,NaN,90.2,0,G,7,687.75
1014002450,1,1,3.0,1.0,0.0,2,79.0,4.52,39.429,0.0,...,5,10000.0,2030.0,2,NaN,45.9,2,F,5,15453.36

In [77]:
# Removed one variable which has 523K missing value.
df = df.drop('SUFFICIENCY_ASTERC', axis=1)

In [78]:
df_bigmissings = df[['BASE_HWY_NETWORK_012', 'YEAR_RECONSTRUCTED_106', 'PERCENT_ADT_TRUCK_109']]

print(df_bigmissings.head())

                      BASE_HWY_NETWORK_012  YEAR_RECONSTRUCTED_106  \
STRUCTURE_NUMBER_008
00000000000S702                        0.0                     0.0
00000000000S703                        0.0                     0.0
0000000000M0022                        0.0                     0.0
883039900                              0.0                     0.0
1014002450                             0.0                  1962.0

                      PERCENT_ADT_TRUCK_109
STRUCTURE_NUMBER_008
00000000000S702                         1.0
00000000000S703                         1.0
0000000000M0022                        35.0
883039900                               5.0
1014002450                             10.0

In [79]:
df.drop(['BASE_HWY_NETWORK_012', 'YEAR_RECONSTRUCTED_106', 'PERCENT_ADT_TRUCK_109'], axis=1, inplace=True)

In [80]:
# All missing values are dropped
df.dropna(axis=0, inplace=True)

In [82]:
missingchecker(df)

df.shape

# Only one percent of the data is removed, due to missing values.

Unicorns are real :) , There are no missing values in the data frame

(612483, 88)

In [87]:
df.merge(df_bigmissings, how='left', left_index=True, right_index=True)

df.head()

MemoryError:

In [ ]:
missingchecker(df)

In [ ]:
df.shape

# LABELLING CODE SAMPLE

labels = {'Color1':colordict, 'Color2':colordict, 'Color3':colordict, 'Dewormed':wormdic, 'FurLength':furdic
          , 'Gender':genderdic, 'Health':healthdic, 'MaturitySize':maturitydic, 'Sterilized':sterildic, 'Type':typedic
          , 'Vaccinated':vaccdic}

mldf.replace(labels, inplace=True)

In [149]:
#Getting labels ready to code
#Copied codes from pdf to txt, then read it, then split it with pd.series
#functionality.

b5 = pd.read_csv('Data/5B.txt', header=None )

b5 = b5.iloc[:,0].str.split(pat=' ', n=1, expand=True)

b5 = b5.set_index(b5[0]).to_dict()

b5 = b5[1]

print(b5)

{'1': 'Interstate highway', '2': 'U.S. numbered highway', '3': 'State highway', '4': 'County highway ', '5': 'City street', '6': 'Federal lands road', '7': 'State lands road', '8': 'Other'}

In [172]:
print(sum(df.ROUTE_PREFIX_005B.isnull()))

xx.head()


#df.replace({'ROUTE_PREFIX_005B':b5}, inplace=True)

25

   ROUTE_PREFIX_005B
0                6.0
1                6.0
2                8.0
3                4.0
4                3.0

In [145]:
df.head()

0    6.0
1    6.0
2    8.0
3    4.0
4    3.0
Name: ROUTE_PREFIX_005B, dtype: float64